file_type_auto_trans(cnd, socket_device, cnd_socket);

# Note: fsetid is deliberately not included above. fsetid checks are
# triggered by chmod on a directory or file owned by a group other
# than one of the groups assigned to the current process to see if
# the setgid bit should be cleared, regardless of whether the setgid
# bit was even set.  We do not appear to truly need this capability
# for cnd to operate.
dontaudit cnd self:capability fsetid;

userdebug_or_eng(`
  allow cnd smem_log_device:chr_file rw_file_perms;
')
