type mmc_block_device, dev_type;

# modem partition
type modem_block_device, dev_type;

# secure software download partition
type ssd_block_device, dev_type;

# eMMC rpmb - necessarily drm?
type drm_block_device, dev_type;

# Thermal engine
type thermal_engine_device, dev_type;

type ttyHS0_device, dev_type;

# Fingerprint device
type fingerprint_device, dev_type;

type subsys_modem_device, dev_type;
