allow ims self:capability { net_raw net_admin };

# Allow ims to write to ims_socket
allow ims ims_socket:sock_file write;

# talk to netd
unix_socket_connect(ims, netd, netd)
# talk to qmux
qmux_socket(ims)
# communicate with the network driver
allow ims self:udp_socket { create ioctl };

# Runs /system/bin/sh for executing ndc commands via popen
allow ims shell_exec:file rx_file_perms;

# Runs /system/bin/ndc
allow ims system_file:file rx_file_perms;

# address qualcomm proprietary binary denials
allow ims self:netlink_socket create_socket_perms;
allow ims self:netlink_route_socket { create_socket_perms nlmsg_write nlmsg_read };

#diag
allow ims diag_device:chr_file rw_file_perms;