# Grant access to ims socket that is created by ims_qmid, ims_datad
allow radio ims_socket:sock_file write;

allow radio persist_file:dir search;

# Connect to ims service.
#HACK allow radio ims:unix_stream_socket connectto;
