allow system_app time_daemon:unix_stream_socket connectto;
unix_socket_connect(system_app, cnd, cnd)

allow system_app cne_service:service_manager add;