# Create and access to /dev/socket/thermal-.*
type_transition thermal-engine socket_device:sock_file thermal_socket;

allow thermal-engine self:socket create_socket_perms;

allow thermal-engine sysfs_thermal:lnk_file read;
