allow wcnss_service self:netlink_socket rw_socket_perms;
allow wcnss_service self:capability { setuid setgid };
allow wcnss_service sysfs_usb:file w_file_perms;
